[package]
name = "hyperlocal"
version = "0.7.0"
authors = ["softprops <d.tangren@gmail.com>"]
description = "Hyper bindings for Unix domain sockets"
homepage = "https://github.com/softprops/hyperlocal"
repository = "https://github.com/softprops/hyperlocal"
keywords = ["hyper", "unix", "sockets", "http"]
license = "MIT"
readme = "README.md"
edition = "2018"

[dependencies]
hex = "0.4.0"
hyper = { version = "0.14.1", features = ["server", "client", "http1"] }
tokio = { version = "1.0.0", features = ["net"] }
pin-project = "0.4.6"
futures-util = "0.3.1"

[dev-dependencies]
tokio = { version = "1.0.0", features = ["net", "macros"] }

[features]
client = []
server = []
default = ["client", "server"]
